{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isa Sofia Martinez</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="image">
        <br><br>
    <div class="background">
        


            <pre>

    .___                    _____                 __  .__                       
    |   | ___________      /     \ _____ ________/  |_|__| ____   ____ ________ 
    |   |/  ___/\__  \    /  \ /  \\__  \\_  __ \   __\  |/    \_/ __ \\___   / 
    |   |\___ \  / __ \_ /    Y    \/ __ \|  | \/|  | |  |   |  \  ___/ /    /  
    |___/____  >(____  / \____|__  (____  /__|   |__| |__|___|  /\___  >_____ \ 
            \/      \/          \/     \/                    \/     \/      \/ 

        </pre>
            <p class="header">
                Hi! I'm a young full stack software dev, interested in aiding better technical ability in art through
                programming.</p>

            <p class="header">I'm well versed in Javascript, Python, Django, the MERN stack, SQL, Git and version
                <br>control.</p>

            <div class="projects">
                <h3>Some Things I've Built</h3>
                <p class="list">An art forum written with Express and MongoDB</p>
                <p class="list">A poetry editing web app written with Django, Python, and an SQL database</p>
                <p class="list">A full stack MERN exquisite corpse poetry web app</p>
            </div>
            <h3 class="fp-header">Featured Projects:</h3>
            <div class="poe-div">
                <h4 class="poe-label">Poe</h4>
                <div class="poe-description">
                    <p>
                        Poe is a web application written in Python and Django that enables users to add custom
                        background
                        images to poems. As a logged in user you can also comment on poems uploaded by others!
                    </p>

                    <div class="poe-links">
                        <a href="https://newpoems.herokuapp.com/" target="_blank">Visit</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://github.com/isama22/NEWPOEMS" target="_blank">See The Code</a>
                    </div>
                </div>

                <div class="poe-img">
                    <img src="https://i.postimg.cc/hjB7X8cx/Screen-Shot-2020-06-09-at-5-27-00-PM.png" alt="">
                </div>
            </div>

            <div class="demarcate-div">

                <div class="demarcate-description">
                    <h4>Demarcate</h4>
                    <p class="demarcate-inner-p">

                        Demarcate is a web app that plays much like an exquisite corpse game, but with a focus on
                        poetry.
                        Follow different storylines and arrive at different poems to add on to!
                    </p>

                    <div class="demarcate-links">
                        <a href="">Visit</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://github.com/isama22/demarcate" target="_blank">See The Code</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    </div>
                </div>
                <div class="demarcate-img">
                    <img src="https://i.postimg.cc/D0GPbrNK/Screen-Shot-2020-06-09-at-5-48-13-PM.png" alt="">
                </div>
            </div>


            <div class="resume">
                <div class="resumeh4">
                    <h4>Resume</h4>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div>
                    <a href="https://docs.google.com/document/d/e/2PACX-1vR0EXgu4XCZ3y0xHgklVKSDHISFnS5EGIj7q3SGxuj_CQiQEVB6e0Emp7FW8kTKTQ/pub"
                        target="_blank">
                        <img src="https://i.postimg.cc/c4d8xJCk/arrow.png" alt="arrow">
                    </a>
                </div>
            </div>


            <div class="github">
                <div class="githubh4">
                    <h4>Github</h4>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div>
                    <a href="https://github.com/isama22" target="_blank">
                        <img class="arrow1" src="https://i.postimg.cc/c4d8xJCk/arrow.png" alt="arrow">
                    </a>
                </div>
            </div>

            <div class="contact">
                <h4 class="githubh4">Get In Touch :)</h4>
                <div class="links">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=isasofma@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
                    <a href="https://www.linkedin.com/in/isa-sofia-martinez/">LinkedIn</a>
                </div>
            </div>
       
    </div>
    <br><br>
    </div>
</body> 

</html>