{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="background">
        <br>
        <!-- <h1>
            Isa Martinez
        </h1> -->
        <pre>

    .___                    _____                 __  .__                       
    |   | ___________      /     \ _____ ________/  |_|__| ____   ____ ________ 
    |   |/  ___/\__  \    /  \ /  \\__  \\_  __ \   __\  |/    \_/ __ \\___   / 
    |   |\___ \  / __ \_ /    Y    \/ __ \|  | \/|  | |  |   |  \  ___/ /    /  
    |___/____  >(____  / \____|__  (____  /__|   |__| |__|___|  /\___  >_____ \ 
            \/      \/          \/     \/                    \/     \/      \/ 

        </pre>
        <p class="header">
            Hi! I'm a young full stack software dev, interested in aiding better technical ability in art through
            programming.</p>

        <p>paragraph about me</p>

        <p>I'm well versed in Javascript, Python, Django, the MERN stack, SQL, Git and version control.</p>

        <div class="projects">
            <h3>Some Things I've Built</h3>
            <p>express forum</p>
            <p>django poetry app</p>
            <p>react poetry app</p>
        </div>
        <div class="featured-projects">
            <h3>Featured Projects</h3>
            <h4>Poe</h4>
            <p>visit</p>
            <p>see the code!</p>
        </div>
        <div class="project1">
            <h4>Demarcate</h4>
            <p>visit</p>
            <p>see the code!</p>
        </div>
        <div class="resume">
            <h4>Resume</h4>
            <a
                href="https://docs.google.com/document/d/e/2PACX-1vR0EXgu4XCZ3y0xHgklVKSDHISFnS5EGIj7q3SGxuj_CQiQEVB6e0Emp7FW8kTKTQ/pub">
                <img class="arrow1" src="https://i.postimg.cc/c4d8xJCk/arrow.png" alt="arrow">
            </a>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->


        </div>
        <div class="github">
            <h4>Github</h4>
            <a href="https://github.com/isama22"><img class="arrow1" src="https://i.postimg.cc/c4d8xJCk/arrow.png"
                    alt="arrow"></a>

        </div>
        <div class="contact">
            <h4>Get In Touch :)</h4>
            <div class="links">
                <p>email</p>
                <p>linkedin</p>
            </div>
        </div>
    </div>
</body>

</html>