{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="background">
        <br>
        <p class="nav">
            <em>work resume github contact</em>
        </p>
        <h1>
            Isa Martinez
        </h1>
        <h5>
            Software Dev versed in full stack javascript, interested in aiding better technical ability in art through programming.
        </h5>
        <h3>
            about me
        </h3>
        <p>
            paragraph about me
        </p>
        <p>
            technologies/skills
        </p>
        <div class="projects">
            <h3>some things i've built</h3>
        </div>
        <div class="featured-projects">
            <h3>featured projects</h3>
        </div>
        <div class="project1">
            <p>project #1 details</p>
        </div>
        <div class="resume">
            <p>resume</p>
            <p>link</p>
        </div>
        <div class="github">
            <p>github</p>
            <p>link</p>
        </div>
        <div class="contact">
            <p>get in touch :)</p>
            <p>email linkedin</p>
        </div>
    </div>
</body>

</html>