body {
    background-color: #3333FF;
    font-family: Arial, Helvetica, sans-serif;
    color: #c46a68;
}

.background {
    background-color: #FFE6CC;
    height: 2500px;
    width: 700px;
    margin-left: 300px;
    margin-top: 30px;
    border: solid 2px;
    border-color: #D79B00;
    border-radius: 35px;
 
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    color: #c46a68;
}

h1 {
    margin-left: 20px;
    color: black;
}
h5 {
    margin-left: 20px;
    color: #944440;
}
h3 {
    margin-left: 20px;
}
p {
    margin-left: 20px;
    color: #944440;
}
.projects {
    background-color: #FFF2CC;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #D6B656;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
}

.featured-projects {
    background-color: #FFE88C;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #F26F69;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
}

.project1 {
    background-color: #FFD28F;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #B85450;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
}

.resume {
    background-color: #FFC496;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #B85450;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
}

.github {
    background-color: #E39D84;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #B46504;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
}

.contact {
    background-color: #E3BDBB;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #947B7A;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
}