body {
    background-color: #3333FF;
    font-family: Arial, Helvetica, sans-serif;

}

.image {
    background-image: url("https://i.postimg.cc/bv3P8jyK/Screen-Shot-2020-06-09-at-10-02-54-PM.png");
    background-size: cover;
    width: 850px;
    margin-left: 300px;  
    border-radius: 35px;  

}

.background {
    background-color: rgba(255, 230, 204, .75);
    width: 700px;
    margin-left: 80px;
    margin-top: 30px;
    border: solid 2px;
    border-color: red;
    border-radius: 35px;
    height: 2300px;
}


pre {
    color: black;
    margin-left: 20px;
}

h1 {
    margin-left: 20px;
    color: black;
}

.header {
    margin-left: 40px;
}

h3 {
    margin-left: 20px;
}

.poe-label {
    margin-left: 20px;
    height: 20px;
}
p {

    color: #944440;
}

.projects {
    background-color: rgba(255, 242, 204, 1);
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #D6B656;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 10px;
    color: #b4490c;
}

.list {
    margin-left: 20px;
}

.fp-header {
    color: #944440;
    margin-left: 40px;
}
.poe-div {
    background-color: rgba(255, 232, 140, 0.5);
    height: 300px;
    width: 600px;
    border: solid 2px;
    border-color: #F26F69;
    margin-left: 50px;
    border-radius: 10px;
    color: #b4490c;
    display: flex;
}

.demarcate-div {
    background-color: rgba(255, 210, 143, .5);
    height: 300px;
    width: 600px;
    border: solid 2px;
    border-color: #B85450;
    margin-left: 50px;
    margin-top: 80px;
    border-radius: 10px;
    color: #b4490c;
    display: flex;
}

.poe-description {
    height: 300px;
    margin-top: 50px;

}

.poe-links {
    display: flex;
    flex-direction: row;
}

.poe-img {
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 60px;
}

.demarcate-description {
    height: 300px;
    margin-left: 20px;
}

.demarcate-inner-p {
    margin-left: 30px;
}
.demarcate-links {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.demarcate-img {
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 60px;
}
.resume {
    background-color: #FFC496;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #B85450;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
    z-index: -1;
    display: flex;
    flex-direction: row;

}

.resumeh4 {
    margin-left: 20px;
    margin-top: 80px;
    color: #B85450;
}


.github {
    background-color: #E39D84;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #B46504;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.githubh4 {
    margin-left: 20px;
    margin-top: 80px;
    color: #B46504;
}

.contact {
    background-color: #E3BDBB;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #947B7A;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;

    /* display: flex;
    justify-content: flex-start;
    align-items: flex-end; */
}



.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #b4490c;
}

a:hover {
    color: coral;
}