body {
    background-color: #3333FF;
    font-family: Arial, Helvetica, sans-serif;

}

.background {
    background-color: #FFE6CC;

    width: 700px;
    margin-left: 300px;
    margin-top: 30px;
    border: solid 2px;
    border-color: red;
    border-radius: 35px;
     height: 2200px;
}

pre {
    color: black;
    margin-left: 20px;
}

h1 {
    margin-left: 20px;
    color: black;
}

.header {
    margin-left: 40px;
}

h3 {
    margin-left: 20px;
}

h4 {
    margin-left: 20px;
}
p {
    margin-left: 20px;
    color: #944440;
}

.projects {
    background-color: rgba(255, 242, 204, 1);
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #D6B656;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
    color: #b4490c;
}

.featured-projects {
    background-color: rgba(255, 232, 140, 0.5);
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #F26F69;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
    color: #b4490c;
}

.project1 {
    background-color: #FFD28F;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #B85450;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
    color: #b4490c;
}

.resume {
    background-color: #FFC496;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #B85450;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
    z-index: -1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.github {
    background-color: #E39D84;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #B46504;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.contact {
    background-color: #E3BDBB;
    height: 200px;
    width: 600px;
    border: solid 2px;
    border-color: #947B7A;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-end; */
}

.arrow1 {
    margin-left: 350px;
    /* margin-bottom: 200px; */
    z-index: 1;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}